@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #001523;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sideitem {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  letter-spacing: normal;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  font-size: 14px;
}
.sideitem:hover {
  background-color: #d6cc991c;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.sideitem.active {
  background-color: #d6cc99;
  color: #001523;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.sideitem2 {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  letter-spacing: normal;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  font-size: 14px;
}
.sideitem2:hover {
  background-color: #d6cc991c;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.pops {
  font-family: "Poppins";
}
